repositories:
  - name: starwitorg
    url: registry-1.docker.io/starwitorg
    oci: true

environments:
  default:
    values:
      - cameras:
          northwest:
            username: admin
            passwordRef: ref+bw://fd05c0ee-c36f-466e-889d-b4a200f4816c/password
          southwest:
            username: admin
            passwordRef: ref+bw://4a95e20b-7dac-4981-a989-b4a200f4362d/password
          southeast:
            username: admin
            passwordRef: ref+bw://747241ed-b4ca-4c32-a8b1-b4a200f44e82/password
          northeast:
            username: admin
            passwordRef: ref+bw://6e6a0b09-c978-4990-9aa3-b4a200f41c68/password

---

releases:
  - name: sae
    chart: starwitorg/sae
    version: 12.1.0
    namespace: sae
    createNamespace: true
    values:
      - intelGpuDriver: xe

        positionSource:
          enabled: true
          settingsYaml:
            log_level: INFO
            position_source:
              type: static
              lat: 52.42404694410418
              lon: 10.71719800380943
        
        geoMapper:
          settingsYaml:
            cameras:
            - brown_distortion_k1: -0.5981843576781855
              brown_distortion_k2: 0.05154513602258436
              brown_distortion_k3: 0.0692784198220943
              mode: map
              elevation_m: 9.49821139219832
              heading_deg: 288.26956881508977
              image_height_px: 720
              image_width_px: 1280
              remove_unmapped_detections: false
              ignore_edge_detections: true
              roll_deg: 2.0381330578778662
              stream_id: hafenstrasse-northwest
              tilt_deg: 83.35320725544882
              view_x_deg: 44
              mapping_area:
                type: Polygon
                coordinates:
                  - - - 10.7158238
                      - 52.4244155
                    - - 10.7165724
                      - 52.4244413
                    - - 10.7169565
                      - 52.42435
                    - - 10.7169826
                      - 52.4241476
                    - - 10.7166082
                      - 52.4241317
                    - - 10.7164585
                      - 52.4240463
                    - - 10.7163609
                      - 52.4239153
                    - - 10.7160256
                      - 52.423951
                    - - 10.7152574
                      - 52.4240741
                    - - 10.7152509
                      - 52.4242984
                    - - 10.7158238
                      - 52.4244155
            - brown_distortion_k1: -0.5468781921897918
              brown_distortion_k2: -0.05543004885027384
              brown_distortion_k3: 0.11977829148597355
              mode: map
              elevation_m: 9.673543242872295
              heading_deg: 282.11537817694574
              image_height_px: 720
              image_width_px: 1280
              remove_unmapped_detections: false
              ignore_edge_detections: true
              roll_deg: -3.1869112244121363
              stream_id: hafenstrasse-northeast
              tilt_deg: 64.54954117198372
              view_x_deg: 54
              mapping_area:
                type: Polygon
                coordinates:
                  - - - 10.7166249
                      - 52.4239647
                    - - 10.7166144
                      - 52.4241142
                    - - 10.7170752
                      - 52.4241351
                    - - 10.717079
                      - 52.4240927
                    - - 10.716975
                      - 52.4240869
                    - - 10.7169874
                      - 52.4239845
                    - - 10.7166249
                      - 52.4239647
            - stream_id: hafenstrasse-southwest
              mode: copy
            - stream_id: hafenstrasse-southeast
              mode: copy
            object_center_elevation_m: 1

          enabled: true

        objectDetector:
          customWeights:
            enabled: true
            imageTag: yolov8m-openvino-static-736x1280
          restart:
            enabled: true
            schedule: "0 0 * * *" 
          settingsYaml:
            log_level: DEBUG
            drop_edge_detections: false
            model:
              device: intel:gpu
              nms_agnostic: true
              weights_path: custom_weights/yolov8m_openvino_model
              inference_size: [ 736, 1280 ]
              classes: [ 2, 5, 7 ]
            redis:
              stream_ids:
              - hafenstrasse-northwest
              - hafenstrasse-southwest
              - hafenstrasse-southeast
              - hafenstrasse-northeast

        objectTracker:
          settingsYaml:
            log_level: INFO
            tracker_algorithm: OCSORT
            tracker_config:
              Q_s_scaling: 1
              Q_xy_scaling: 1
              asso_func: iou
              asso_threshold: 0.3
              delta_t: 3
              det_thresh: 0.2
              inertia: 0.2
              max_age: 30
              min_hits: 3
              use_byte: false
          needsGpu: false
          streamIds:
          - hafenstrasse-northwest
          - hafenstrasse-southwest
          - hafenstrasse-southeast
          - hafenstrasse-northeast

        redisWriter:
          enabled: true
          instances:
          - name: prod
            settingsYaml:
              target_redis:
                buffer_length: 1000
                host: 100.72.130.57
                port: 30379
                target_stream_maxlen: 1000
                tls: false
              mapping_config:
                - source: geomapper:hafenstrasse-northwest
                - source: geomapper:hafenstrasse-southwest
                - source: geomapper:hafenstrasse-southeast
                - source: geomapper:hafenstrasse-northeast

        videoSource:
          settingsYamls:
          - id: hafenstrasse-northwest
            jpeg_quality: 95
            max_fps: 8
            scale_width: 1280
            uri: 'rtsp://{{ .Values.cameras.northwest.username | urlquery }}:{{ .Values.cameras.northwest.passwordRef | fetchSecretValue | urlquery }}@192.168.1.11/Streaming/channels/1'
            camera_position_source:
              stream_id: "positionsource:self"
              drop_frames_if_no_position: True
          - id: hafenstrasse-southwest
            jpeg_quality: 95
            max_fps: 8
            scale_width: 1280
            uri: 'rtsp://{{ .Values.cameras.southwest.username | urlquery }}:{{ .Values.cameras.southwest.passwordRef | fetchSecretValue | urlquery }}@192.168.1.14/Streaming/channels/1'
            camera_position_source:
              stream_id: "positionsource:self"
              drop_frames_if_no_position: True
          - id: hafenstrasse-southeast
            jpeg_quality: 95
            max_fps: 8
            scale_width: 1280
            uri: 'rtsp://{{ .Values.cameras.southeast.username | urlquery }}:{{ .Values.cameras.southeast.passwordRef | fetchSecretValue | urlquery }}@192.168.1.13/Streaming/channels/1'
            camera_position_source:
              stream_id: "positionsource:self"
              drop_frames_if_no_position: True
          - id: hafenstrasse-northeast
            jpeg_quality: 95
            max_fps: 8
            scale_width: 1280
            uri: 'rtsp://{{ .Values.cameras.northeast.username | urlquery }}:{{ .Values.cameras.northeast.passwordRef | fetchSecretValue | urlquery }}@192.168.1.12/Streaming/channels/1'
            camera_position_source:
              stream_id: "positionsource:self"
              drop_frames_if_no_position: True

        detectionSampler:
          enabled: true
          instances:
            - name: training-data-nw
              settingsYaml:
                log_level: DEBUG
                filters:
                  - name: non_car_vehicles
                    match_detection:
                      class_id_in: [5,7]
                      width_above: 0.075
                    cooldown: 1m

                  - name: low_confidence_cars
                    match_detection:
                      class_id_in: [2]
                      confidence_below: 0.6
                      width_above: 0.05
                    cooldown: 1m
                redis:
                  stream_id: hafenstrasse-northwest
                  input_stream_prefix: objectdetector
                  output_stream_prefix: detectionselector
            - name: training-data-ne
              settingsYaml:
                log_level: DEBUG
                filters:
                  - name: non_car_vehicles
                    match_detection:
                      class_id_in: [5,7]
                      width_above: 0.075
                    cooldown: 10m

                  - name: low_confidence_cars
                    match_detection:
                      class_id_in: [2]
                      confidence_below: 0.6
                      width_above: 0.05
                    cooldown: 10m
                redis:
                  stream_id: hafenstrasse-northeast
                  input_stream_prefix: objectdetector
                  output_stream_prefix: detectionselector
            - name: training-data-se
              settingsYaml:
                log_level: DEBUG
                filters:
                  - name: non_car_vehicles
                    match_detection:
                      class_id_in: [5,7]
                      width_above: 0.075
                    cooldown: 10m

                  - name: low_confidence_cars
                    match_detection:
                      class_id_in: [2]
                      confidence_below: 0.6
                      width_above: 0.05
                    cooldown: 10m
                redis:
                  stream_id: hafenstrasse-southeast
                  input_stream_prefix: objectdetector
                  output_stream_prefix: detectionselector
            - name: training-data-sw
              settingsYaml:
                log_level: DEBUG
                filters:
                  - name: non_car_vehicles
                    match_detection:
                      class_id_in: [5,7]
                      width_above: 0.075
                    cooldown: 10m

                  - name: low_confidence_cars
                    match_detection:
                      class_id_in: [2]
                      confidence_below: 0.6
                      width_above: 0.05
                    cooldown: 10m
                redis:
                  stream_id: hafenstrasse-southwest
                  input_stream_prefix: objectdetector
                  output_stream_prefix: detectionselector