repositories:
  - name: starwitorg
    url: registry-1.docker.io/starwitorg
    oci: true

environments:
  default:
    values:
      - cameras:
          south:
            username: admin
            passwordRef: ref+bw://0458a142-3ca6-447f-ac5e-b4a2010c9ef3/password
          east:
            username: admin
            passwordRef: ref+bw://97303bb2-fad8-424e-aeb2-b4a2010cb315/password
          west:
            username: admin
            passwordRef: ref+bw://e3fa70c6-7e1b-4cc8-b2fa-b4a2010ccea2/password
          north:
            username: admin
            passwordRef: ref+bw://aa3c5545-d6b9-4193-bf86-b4a2010ce8a7/password

---

releases:
  - name: sae
    chart: starwitorg/sae
    version: 12.2.0
    namespace: sae
    createNamespace: true
    values:
      - positionSource:
          enabled: true
          settingsYaml:
            log_level: INFO
            position_source:
              type: static
              lat: 52.42416804301217
              lon: 10.786926227454526
        
        geoMapper:
          enabled: true
          settingsYaml:
            cameras:
            - stream_id: meckauer-east
              mode: map
              elevation_m: 9.93337230581837
              heading_deg: 85.86919194360901
              roll_deg: 3.137211827876978
              tilt_deg: 47.09283311164398
              view_x_deg: 78
              image_height_px: 1440
              image_width_px: 2560
              brown_distortion_k1: -0.19411686259536476
              brown_distortion_k2: -0.00030757253334143253
              brown_distortion_k3: 0.0
              remove_unmapped_detections: false
              mapping_area:
                coordinates:
                - - - 10.787096772764224
                    - 52.424080277899
                  - - 10.78726764906682
                    - 52.42434491610731
                  - - 10.78701009810604
                    - 52.424368216470306
                  - - 10.78693130909344
                    - 52.42411497641799
                  - - 10.787096772764224
                    - 52.424080277899
                type: Polygon

            - stream_id: meckauer-north
              mode: map
              elevation_m: 9.804851704322358
              heading_deg: 357.8605141601502
              roll_deg: 0.9854206109929053
              tilt_deg: 62.18241444936112
              view_x_deg: 67
              image_height_px: 1440
              image_width_px: 2560
              brown_distortion_k1: -0.3458759111765181
              brown_distortion_k2: 0.09809620515117706
              brown_distortion_k3: 0
              ignore_edge_detections: true
              remove_unmapped_detections: false
              mapping_area:
                coordinates:
                - - - 10.786752194120185
                    - 52.42431456186525
                  - - 10.78726080979424
                    - 52.424274595156994
                  - - 10.787303477591593
                    - 52.42455332200221
                  - - 10.786802804455235
                    - 52.42460109016702
                  - - 10.786752194120185
                    - 52.42431456186525
                type: Polygon

            - stream_id: meckauer-south
              mode: map
              elevation_m: 10.173736349392943
              heading_deg: 193.8130897207526
              roll_deg: 1.510641866983675
              tilt_deg: 56.50770175996909
              view_x_deg: 72
              image_height_px: 1440
              image_width_px: 2560
              brown_distortion_k1: -0.27548602805942723
              brown_distortion_k2: 0.09129481034934248
              brown_distortion_k3: 0
              remove_unmapped_detections: false
              ignore_edge_detections: true
              mapping_area:
                coordinates:
                - - - 10.786720334358773
                    - 52.424186906949004
                  - - 10.787136839386493
                    - 52.424141671986334
                  - - 10.786856101118072
                    - 52.423684495761506
                  - - 10.786603426592702
                    - 52.42376990903258
                  - - 10.786720334358773
                    - 52.424186906949004
                type: Polygon
            
            - stream_id: meckauer-west
              mode: map
              elevation_m: 9.715217366568291
              heading_deg: 325.0768670650304
              roll_deg: -2.563038233784965
              tilt_deg: 29.68131477802384
              view_x_deg: 79
              image_height_px: 1440
              image_width_px: 2560
              brown_distortion_k1: -0.16582498927981773
              brown_distortion_k2: -0.02890960428424515
              brown_distortion_k3: 0.0
              remove_unmapped_detections: false
              ignore_edge_detections: true
              mapping_area:
                coordinates:
                - - - 10.786768622047525
                    - 52.42437513478074
                  - - 10.787004365640092
                    - 52.42436121125783
                  - - 10.786939975609606
                    - 52.424133935311794
                  - - 10.786721564672098
                    - 52.42413337422841
                  - - 10.786768622047525
                    - 52.42437513478074
                type: Polygon
            object_center_elevation_m: 1

        objectDetector:
          customWeights:
            enabled: true
            imageTag: tsp-2024-11-26-trrt-10.13.2.6
          settingsYaml:
            log_level: DEBUG
            drop_edge_detections: false
            model:
              device: cuda
              nms_agnostic: true
              weights_path: custom_weights/weights.engine
              inference_size:
              - 736
              - 1280
              classes:
              - 2
              - 5
              - 7
            redis:
              stream_ids:
              - meckauer-north
              - meckauer-south
              - meckauer-east
              - meckauer-west

        objectTracker:
          settingsYaml:
            log_level: INFO
            tracker_algorithm: OCSORT
            tracker_config:
              Q_s_scaling: 1
              Q_xy_scaling: 1
              asso_func: iou
              asso_threshold: 0.3
              delta_t: 3
              det_thresh: 0.2
              inertia: 0.2
              max_age: 30
              min_hits: 3
              use_byte: false
          streamIds:
          - meckauer-north
          - meckauer-south
          - meckauer-east
          - meckauer-west

        redisWriter:
          enabled: true
          instances:
          - name: prod
            settingsYaml:
              target_redis:
                buffer_length: 1000
                host: 100.72.130.57
                port: 30379
                target_stream_maxlen: 1000
                tls: false
              mapping_config:
                - source: geomapper:meckauer-north
                - source: geomapper:meckauer-south
                - source: geomapper:meckauer-east
                - source: geomapper:meckauer-west

        videoSource:
          settingsYamls:
          - id: meckauer-south
            jpeg_quality: 95
            max_fps: 10
            scale_width: 1280
            uri: 'rtsp://{{ .Values.cameras.south.username | urlquery }}:{{ .Values.cameras.south.passwordRef | fetchSecretValue | urlquery }}@192.168.1.11/Streaming/Channels/1'
            camera_position_source:
              stream_id: "positionsource:self"
              drop_frames_if_no_position: True
          - id: meckauer-west
            jpeg_quality: 95
            max_fps: 10
            scale_width: 1280
            uri: 'rtsp://{{ .Values.cameras.west.username | urlquery }}:{{ .Values.cameras.west.passwordRef | fetchSecretValue | urlquery }}@192.168.1.12/Streaming/Channels/1'
            camera_position_source:
              stream_id: "positionsource:self"
              drop_frames_if_no_position: True
          - id: meckauer-north
            jpeg_quality: 95
            max_fps: 10
            scale_width: 1280
            uri: 'rtsp://{{ .Values.cameras.north.username | urlquery }}:{{ .Values.cameras.north.passwordRef | fetchSecretValue | urlquery }}@192.168.1.13/Streaming/Channels/1'
            camera_position_source:
              stream_id: "positionsource:self"
              drop_frames_if_no_position: True
          - id: meckauer-east
            jpeg_quality: 95
            max_fps: 10
            scale_width: 1280
            uri: 'rtsp://{{ .Values.cameras.east.username | urlquery }}:{{ .Values.cameras.east.passwordRef | fetchSecretValue | urlquery }}@192.168.1.14/Streaming/Channels/1'
            camera_position_source:
              stream_id: "positionsource:self"
              drop_frames_if_no_position: True

        detectionSampler:
          enabled: true
          instances:
            - name: training-data-north
              settingsYaml:
                log_level: DEBUG
                filters:
                  - name: many_vehicles
                    match_detection:
                      class_id_in: [2,5,7]
                    matching_count_above: 25
                    cooldown: 30m

                  - name: few_not_zero_vehicles
                    match_detection:
                      class_id_in: [2,5,7]
                    matching_count_above: 3
                    matching_count_below: 15
                    cooldown: 60m
                redis:
                  stream_id: meckauer-north
                  input_stream_prefix: objectdetector
                  output_stream_prefix: detectionselector
            - name: training-data-south
              settingsYaml:
                log_level: DEBUG
                filters:
                  - name: many_vehicles
                    match_detection:
                      class_id_in: [2,5,7]
                    matching_count_above: 15
                    cooldown: 30m

                  - name: few_not_zero_vehicles
                    match_detection:
                      class_id_in: [2,5,7]
                    matching_count_above: 3
                    matching_count_below: 10
                    cooldown: 60m
                redis:
                  stream_id: meckauer-south
                  input_stream_prefix: objectdetector
                  output_stream_prefix: detectionselector
            - name: training-data-east
              settingsYaml:
                log_level: DEBUG
                filters:
                  - name: many_vehicles
                    match_detection:
                      class_id_in: [2,5,7]
                    matching_count_above: 9
                    cooldown: 30m

                  - name: few_not_zero_vehicles
                    match_detection:
                      class_id_in: [2,5,7]
                    matching_count_above: 2
                    matching_count_below: 5
                    cooldown: 60m
                redis:
                  stream_id: meckauer-east
                  input_stream_prefix: objectdetector
                  output_stream_prefix: detectionselector
            - name: training-data-west
              settingsYaml:
                log_level: DEBUG
                filters:
                  - name: many_vehicles
                    match_detection:
                      class_id_in: [2,5,7]
                    matching_count_above: 7
                    cooldown: 30m

                  - name: few_not_zero_vehicles
                    match_detection:
                      class_id_in: [2,5,7]
                    matching_count_above: 2
                    matching_count_below: 5
                    cooldown: 60m
                redis:
                  stream_id: meckauer-west
                  input_stream_prefix: objectdetector
                  output_stream_prefix: detectionselector