export CLIENT_SECRET=test
export KEYCLOAK_ADMIN=admin
export KEYKLOAK_CLIENT_ADMIN_SECRET=adminadmin

# database pws
export DB_OBSERVATORY_SECRET=observatory
export DB_ANALYTICS_SECRET=analytics
export DB_OBSERVATORY_CONFIG_SECRET=observatoryconfig
export DB_SAEBACKEND_SECRET=saebackend

# ODP password
export ODP_PASSWORD=password