export CLIENT_SECRET=test
export KEYCLOAK_ADMIN=admin

export PULL_SECRET=secret # Starwit's internal Docker registry
export HELM_SECRET=secret # Starwit's internal Helm registry

# database pws
export DB_DATABACKEND_SECRET=databackend
export DB_ANALYTICS_SECRET=analytics
export DB_SAE_SECRET=sae
